* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {

    background: #050816;

    font-family: Arial;

    color: white;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}

.room-container {

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}

.room-card {

    width: 900px;

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 20px;

    padding: 30px;

    text-align: center;
}

.room-card h1 {

    color: #c084fc;

    margin-bottom: 15px;
}

.room-card h2 {

    color: #9ca3af;

    margin-bottom: 25px;
}


button {

    padding: 15px 25px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(
        135deg,
        #a855f7,
        #3b82f6
    );

    color: white;

    cursor: pointer;
}

.controls {

    display: flex;

    justify-content: center;

    gap: 20px;

    margin-top: 25px;
}

#player {

    margin-top: 20px;

    border-radius: 20px;

    overflow: hidden;
}

.queue-section {

    margin-top: 40px;

    text-align: left;
}

.add-song {

    display: flex;

    gap: 10px;

    margin-top: 20px;
}

.add-song input {

    flex: 1;
}

#queueList {

    margin-top: 20px;
}

.queue-item {

    padding: 15px;

    background: rgba(255,255,255,0.05);

    border-radius: 10px;

    margin-bottom: 10px;
}
.search-section {

    display: flex;

    gap: 10px;

    margin-top: 30px;
}

#searchResults {

    margin-top: 20px;
}

.song-card {

    display: flex;

    align-items: center;

    gap: 15px;

    background: rgba(255,255,255,0.05);

    padding: 15px;

    border-radius: 10px;

    margin-bottom: 10px;
}

.song-card img {

    width: 120px;

    border-radius: 10px;
}

.song-info {

    flex: 1;
}

.queue-item {

    padding: 15px;

    background: rgba(255,255,255,0.05);

    border-radius: 10px;

    margin-bottom: 10px;

    cursor: pointer;

    transition: 0.3s;
}

.queue-item:hover {

    background: rgba(255,255,255,0.1);
}
.upload-section {

    display: flex;

    gap: 10px;

    margin-top: 30px;
}